# Node.js dependencies
node_modules/
package-lock.json

# Environment Variables
.env

# Logs
logs/
*.log

# Database files (if using local MongoDB)
data/
dump/

# Compiled files
dist/
build/

# Cache files
*.cache
.npm/

# IDE & OS files
.vscode/
.DS_Store
Thumbs.db

# Debugging
debug.log
